.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  align-items: flex-start;
}

.picture {
  width: 379px;
  height: 250px;
  object-fit: cover;
}

.name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.description {
  margin-top: 5px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #888888;
}

.price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.filter {
  margin-bottom: 20px;
  align-items: flex-end;
  margin-top: 20px;
  position: relative;
  left: 80%;
}

.heartIcon {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

.cartIcon {
  color: blue;
  font-size: 1.5rem;
  cursor: pointer;
}

.navLinks {
  display: flex;
  align-items: center;
  position: relative;
  left: 70%;
}

.link {
  margin-right: 20px;
  font-size: 15px;
  color: white;
  justify-content: flex-end;
}

.header {
  display: flex;
  height: 100px;
  background-color: #CCC;
  color: #f7f6f6;
}

.headerTitle {
  color: white;
  font-size: 36px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
}
